 <!--SECTION DE FOTO DE PERFIL E INICIO-->
 <section id="START" class="sectionPFP">
    <div style="padding-top: 6em; padding-bottom: 1em;" class="containerSection1 d-block align-items-center flex-column">
        <img class="rounded-circle" width="303" height="303" src="./assets/profilePic2.png" alt="...">
    </div>
    <div style="padding-bottom: 2em; padding-left: 0%;" class="containerSection1 d-flex align-items-center flex-column">
        <h1 class="text-uppercase marginBottom0">Jorge Galiano García</h1>
        <p class="textP marginBottom0 subHeader">Estudiante de diseño y desarrollo de videojuegos</p>
    </div>
</section>
