<header>
    <div class="container fixed-top">
        <a class="logoPag" href="#START">{{logoHeader}}</a>
        <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <nav>
            <div class="navLink">
                <ul>
                    <li><a href="#AboutMe">{{firstSection}}</a></li>
                    <li><a href="#Projects">{{secondSection}}</a></li>
                    <li><a href="#Contact">{{thirdSection}}</a></li>
                </ul>   
            </div>
        </nav>
    </div>
</header>

