<section id="START" class="sectionPFP">
    <div style="padding-top: 6em; padding-bottom: 1em;" class="containerSection1 d-block align-items-center flex-column">
        <img width="200" height="200" src="assets/userIcon.png" alt="...">
    </div>
    <div style="padding-bottom: 2em; padding-left: 0%;" class="containerSection1 d-flex align-items-center flex-column">
        <h1 class="text-uppercase textP1 marginBottom0">Bienvenido {{user}}</h1>
        <p  class="textP marginBottom0 subHeader">{{message}}</p>
        <!--<p *ngIf="user != null" class="textP marginBottom0 subHeader">{{message}}</p>-->
    </div>
</section>
<div>
    <table>
      <thead>
        <tr>
         
          <th class="text-uppercase textP1 marginBottom0">LISTA DE VIDEOJUEGOS</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let v of listaVideojuegos" (click)="seleccionar(v)">
          
          <td  style="text-align:center" class="textP marginBottom0 subHeader">{{ v.titulo }}</td>
         
        </tr>
        <tr *ngIf="listaVideojuegos.length==0">
          <td class="rojo" colspan="4">
            NO HAY VIDEOJUEGOS
          </td>
        </tr>
      </tbody>
    </table>
  </div>
