<!--SECTION MIS PROYECTOS-->
<section id="Projects" class="sectionProjects">
    <h1 class="projectHeader text-center text-uppercase text-secondary " style="padding-top: 1em;">Algunos de mis proyectos</h1>
    <div class="containerSection1 d-flex align-items-center flex-column">
           
               <img class="img-fluid rounded-square" src="./assets/frozenFury.png" alt="...">
               <h1 class="text-uppercase">Frozen fury</h1>
               
         
                <p style="text-align:center; font-size: 20px" class="textP">
                    Junto a un equipo desarrollé Frozen Fury, un juego Tower Defense 
                    donde el usuario tendrá que luchar contra hordas de enemigos que 
                    intentarán llegar a un punto que debe ser defendido. Para defenderse 
                    de la horda, el usuario tendrá libertad de movimiento y disparo automático 
                    además de diferentes estructuras.
                </p>
                <p style="text-align:center; font-size: 20px" class="textP">
                    Dotado de un sistema de dificultad dinámica, el juego se adapta 
                    a todo tipo de jugadores, tanto a los jugadores que prefieren un reto, 
                    como a los que solo buscan divertirse. Este juego se desarrolló en Unity. 
                    Está disponible en <a href="https://thenides-ra.itch.io/frozen-fury">Itch.io</a>
                </p>
                <br>  
                <br>  
                <img class="img-fluid rounded-square" src="./assets/videojuego1.png" alt="...">
                <h1 class="text-uppercase">Last nightfall</h1>
            
               
       
                <p style="text-align:center; font-size: 20px" class="textP">
                Junto a dos compañeros, desarrollamos nuestro primer videojuego online 
                creando el propio videojuego y servidor. Las tecnologías que empleamos
                para su desarrollo fueron Java y Springboot. Está disponible en 
                <a href="https://lastnightfall-app.herokuapp.com/">Heroku</a></p>
                <br> 
                <br> 
                <img class="img-fluid rounded-square-mobile" src="./assets/Captura.PNG" alt="...">
                <h1 class="text-uppercase">Aplicaciones de móvil</h1>
           

                <p style="text-align:center; font-size: 20px" class="textP">
                    Junto a mi compañero Pablo Romero, desarrollamos una aplicación
                    para teléfonos móviles. Se trata de un pequeño trivial con diferentes
                    tipos de preguntas, escritas, de video, de audio...
                </p>
                <p style="text-align:center; font-size: 20px" class="textP">
                    Esta app fue desarrollada en su totalidad en android studio con 
                    el lenguaje Java. No está disponible en ninguna plataforma debido
                    a que no cuenta con permisos de copyright para la música.
                </p>
                <br>
                <br>  

    </div>
</section>
