 <!--SECTION DE SOBRE MÍ-->
 <section id="AboutMe" class="sectionAboutMe">
    <div style="padding-top: 1em; padding-bottom: 2em;" class="containerSection1 d-flex align-items-center flex-column">
        <h1 class="text-uppercase marginBottom0 textColorAqua">{{aboutMe}}</h1>
       
        <div>
            <div><p class="textP">Me considero una persona flexible y trabajadora con muchas
                ganas de aprender. Actualmente estoy finalizando el 
                Grado de Diseño y Desarrollo de Videojuegos en la Universidad Rey Juan Carlos.
            </p></div>
            <div><p class="textP">Estoy muy interesado en el ámbito de la informática, más
                concretamente en la programación ya que la veo como una herramienta que puede aportar mucho en el 
                día a día de las personas.</p></div>

            <div><p class="textP">Además de videojuegos en ordenador y videoconsolas, he afianzado
                conocimientos sobre inteligencia artificial, desarrollo de aplicaciones web y móvil y creación de servidores.
            </p></div>

        </div>
    </div>
</section>
