<header>
    <div class="container fixed-top">
        <a class="logoPag" [routerLink]="['/login']">{{logoHeader}}</a>
        <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <nav>
            <div class="navLink">
                <ul>
                    <li><a [routerLink]="['/bienvenida']">{{firstSection}}</a></li>
                    <li><a [routerLink]="['/sobreMi']">{{secondSection}}</a></li>
                    <li><a [routerLink]="['/contacto']">{{thirdSection}}</a></li>
                </ul>   
            </div>
        </nav>
    </div>
</header>




