<div>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Titulo</th>
        <th>Compañía</th>
        <th>Valoración media</th>
        <th>Icono</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <td>{{ id }}</td>
        <td>{{ titulo }}</td>
        <td>{{ company }}</td>
        <td>{{ vMedia }}</td>
        <td><img [src]="ruta"></td>
      </tr>
    </tbody>
  </table>
  
  
  
</div>
<div class="container">
    <button (click)="routingProgramatico()" [routerLink]="[ '/bienvenida', user]">Back</button>
</div>
